<h1><%= @event.title %></h1>

<div>About this event: </div>
<div><%= @event.description %></div>

<div>Time: </div>
<div><%= @event.date %></div>

<div>Location: </div>
<div><%= @event.location %></div>